.TeamHeading{
    background-color: red;
    padding: 13px;
    color: white;
    width: 100%;
}
.TeamMach{
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.Teams {
    display: flex;
    flex-direction: column;
}
.decision{
    display: flex;
    flex-direction: column;
}
.teamresult{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.teamresult select{
    padding: 10px 30px;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }